//output:LandingPage.html, pretty:true
doctype html
html
    head
        link(type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.css")
        link(type="text/css" rel="stylesheet" href="font-awesome/css/font-awesome.min.css")
        link(type="text/css" rel="stylesheet" href="LandingPage.css")
        script(type="text/javascript" src="bootstrap/js/jquery.min.js")
        script(type="text/javascript" src="bootstrap/js/bootstrap.min.js")
        script(type="text/javascript" src="LandingPage.js")
        script(type="text/javascript" src="noty/packaged/jquery.noty.packaged.min.js")
        meta(charset="UTF-8")
        title Twitter
        
                                   
    body
        nav(class="navbar navbar-default navbar-fixed-top ")
            div(class="container-fluid")
                div(class="navbar-header")
                    button(type="button" class ="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false")
                        span(class="sr-only")   
                            |Toggle Navigation
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                                            
                    a(class="navbar-brand")
                        |Twitter
            
                div(class="collapse navbar-collapse")
                    form(class="navbar-form navbar-center" role="search" method="POST")
                        div(class="form-group")
                            input(type="text" class="form-control" placeholder="Search" name="search")
                            button(class="btn btn-default" id="search" data-toggle="modal" data-target=".search-box")
                                |Submit
                    ul(class="nav navbar-nav navbar-right")
                        li
                            button(id="followers" type="button" data-toggle="modal" data-target=".followers-box")
                                i(class="fa fa-users" style="font-size:2em;")
                        li
                            button(id="tweet" type="button" data-toggle="modal" data-target=".tweet-box")
                                span(class="glyphicon glyphicon-pencil" style="font-size:2em;")
                        li
                            button(id="signout" type="button" data-toggle="modal" data-target=".signout-box")
                                i(class="fa fa-sign-out" style="font-size:2em;")
        
        div(class="modal tweet-box" role="dialog" tabindex="-1")
            div(class="modal-dialog" )
                div(class="modal-content")
                    div(class="modal-header")
                        h4(class="text-title") New Tweet
                    div(class="modal-body")
                        form
                            div(class="form-group")
                                textarea(class="form-control" id="tweet-text")
                    div(class="modal-footer")
                        button(class="btn btn-default" type="button" data-dismiss="modal" id="create-tweet")
                            span(class="glyphicon glyphicon-send" style="font-size:2em;" class="text-center")
                            
        div(class="modal signout-box" role="dialog" tabindex="-1")
            div(class="modal-dialog" )
                div(class="modal-content")
                    div(class="modal-body")
                        h4 Signout?
                    div(class="modal-footer")
                        button(class="btn btn-default" type="button" data-dismiss="modal" id="cancel-signout")
                            |Cancel
                        button(class="btn btn-default" type="button" data-dismiss="modal" id="confirm-signout")
                            |Confirm
                            
        div(class="modal followers-box" role="dialog" tabindex="-1")
            div(class="modal-dialog" )
                div(class="modal-content")
                    #followers-pane.modal-body
            
        div(class="modal search-box" role="dialog" tabindex="-1")
            div(class="modal-dialog" )
                div(class="modal-content")
                    #search-pane.modal-body        
                            
        div(class="modal user-details" role="dialog" tabindex="-1")
            div(class="modal-dialog" )
                div(class="modal-content")
                    #user.modal-header
                        
                    div(class="modal-body")

                    div(class="modal-footer")
                        button(class="btn btn-default" type="button" data-dismiss="modal" id="follow")
                            |Follow
                        button(class="btn btn-default" type="button" data-dismiss="modal" id="mention")
                            |Mention
                        button(class="btn btn-default" type="button" data-dismiss="modal" id="report")
                            |Report
                            
        div(class="modal message" role="dialog" tabindex="-1")
            div(class="modal-dialog" )
                div(class="modal-content")
                    div(class="modal-header" id="message-header")
                        
                    div(class="modal-body" id="message-body")

                    div(class="modal-footer")
                        form
                            .form-group
                                div(class="input-group")
                                    input.form-control(type='text', name='dm')
                                    span.input-group-btn
                                        button.btn.btn-default(type="button" id="send-dm") Reply
                            
                        
        div(class="modal list" role="dialog" tabindex="-1")
            div(class="modal-dialog" )
                div(class="modal-content")
                    //- div(class="modal-header" id="list-header")
                        
                    div(class="modal-body" id="list-body")

                    //- div(class="list-footer")
                    //-     form
                    //-         .form-group
                    //-             div(class="input-group")
                    //-                 input.form-control(type='text', name='dm')
                    //-                 span.input-group-btn
                    //-                     button.btn.btn-default(type="button" id="send-dm") Reply                
                    //-     
        div(class="tab-content")  
            div(class="tab-pane active" id="timeline-pane" role="tabpanel")
                #timeline-container.container
                
            div(class="tab-pane" id="notifications-pane" role="tabpanel")
                #notifications-container.container
         
            div(class="tab-pane" id="messages-pane" role="tabpanel")
                #messages-container.container
            
            div(class="tab-pane" id="lists-pane" role="tabpanel")
                #lists-container.container
                
            div(class="tab-pane" id="my-tweets-pane" role="tabpanel")
                #my-tweets-container.container
    
    
    
            div(class="tab-pane" id="profile-pane" role="tabpanel")
                .container
                    .row-fluid
                        .col-sm-2.col-sm-offset-2
                            img(name="profile-image" width='150' height='150')
                        .col-sm-4
                            form#profile-form(method='POST')
                                .form-group
                                    label Name
                                    div(class="input-group" id="signup-password")
                                        div(class="input-group-addon")
                                            span(class="glyphicon glyphicon-font" )
                                        input.form-control(type='text', name='name', size='30')
                                    br
                                    label Username
                                    div(class="input-group" id="signup-password")
                                        div(class="input-group-addon")
                                            span(class="glyphicon glyphicon-user" )
                                        input.form-control(type='text', name='username', size='30')
                                    br
                                    label Email
                                    div(class="input-group" id="signup-password")
                                        input.form-control(type='text', name='email-1', size='30')
                                        div(class="input-group-addon")
                                            span @
                                        input.form-control(type='text', name='email-2', size='30')
                                    br
                                    label Language
                                    div(class="input-group" id="signup-password")
                                        div(class="input-group-addon")
                                            i(class="fa fa-globe" )
                                        input.form-control(type='text', name='language', size='30')
                                    br
                                    label Country
                                    div(class="input-group" id="signup-password")
                                        div(class="input-group-addon")
                                            i(class="fa fa-map-pin" )
                                        input.form-control(type='text', name='country', size='30')
                                    br
                                    label Description
                                    div(class="input-group" id="signup-password")
                                        div(class="input-group-addon")
                                            i(class="fa fa-quote-left" )
                                        textarea.form-control(type='text', name='bio', rows="4")
                                        div(class="input-group-addon")
                                            i(class="fa fa-quote-right" )
                                    br
                                    label Website
                                    div(class="input-group" id="signup-password")
                                        div(class="input-group-addon")
                                            i(class="fa fa-link" )
                                        input.form-control(type='text', name='website', size='30')
                                    br
                                    label Picture link
                                    div(class="input-group" id="signup-password")
                                        div(class="input-group-addon")
                                            i(class="fa fa-link" )
                                        input.form-control(type='text', name='avatar_url',  size='30')
                                    br
                                    label Overlay
                                    input.form-control(type='text', name='overlay', size='30')
                                    br
                                    label Link_color
                                    input.form-control(type='text', name='link_color', size='30')
                                    br
                                    label Background_color
                                    input.form-control(type='text', name='background_color', size='30')
                                    br
                                    label Private Account?
                                    input.form-control(type='text', name='protected_tweets', size='30')
                                    br
                                    button#save-profile.btn.btn-default.pull-right(name='Submit') Save Changes
                                         

        nav(class="navbar navbar-default navbar-fixed-bottom")
            ul(class="nav nav-pills nav-justified")
                li(role="presentation" class="active" id="timeline")
                    a(href="#timeline-pane" data-toggle="pill")
                        |Timeline
                li(role="presentation"  id="notifications")
                    a(href="#notifications-pane" data-toggle="pill")
                        |Notifications
                
                li(role="presentation" id="messages")
                    a(href="#messages-pane" data-toggle="pill")
                        |Messages
                    
                li(role="presentation" id="lists")
                    a(href="#lists-pane" data-toggle="pill")
                        |Lists
                
                li(role="presentation" id="my-tweets")
                    a(href="#my-tweets-pane" data-toggle="pill")
                        |My Tweets
                        
                li(role="presentation" id="profile")
                    a(href="#profile-pane" data-toggle="pill")
                        |Edit Profile
                            
