//output:LandingPage.html, pretty:true
doctype html
html
    head
        link(type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.css")
        link(type="text/css" rel="stylesheet" href="LandingPage.css")
        script(type="text/javascript" src="bootstrap/js/jquery.min.js")
        script(type="text/javascript" src="bootstrap/js/bootstrap.min.js")
        meta(charset="UTF-8")
        title Twitter
        
    nav(class="navbar navbar-default")
        div(class="container-fluid")
            div(class="navbar-header")
                button(type="button" class ="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false")
                    span(class="sr-only")   
                        |Toggle Navigation
                    span(class="icon-bar")
                    span(class="icon-bar")
                    span(class="icon-bar")
                                        
                a(class="navbar-brand")
                    |Twitter
        
            div(class="collapse navbar-collapse")
                form(class="navbar-form navbar-center" role="search")
                    div(class="form-group")
                        input(type="text" class="form-control" placeholder="Search")
                    button(type="submit" class="btn btn-default")
                        |Submit
                
                ul(class="nav navbar-nav navbar-right")
                    li(class="dropdown")
                        a(class="dropdown-toggle" data-toggle="dropdown" role="button" href="#" aria-haspopup="true" aria-expanded="false")
                            |dropdown
                            span(class="caret")
                                                
                        ul(class="dropdown-menu")
                            li
                                a(href="#" id="logout-button")
                                    |Logout
                            li
                                a(href="#")
                                    |Edit Profile
                                    
    
    nav(class="navbar navbar-default navbar-fixed-bottom")
        ul(class="nav nav-pills nav-justified")
            li(role="presentation" class="active")
                a
                    |Timeline
            li(role="presentation")
                a
                    |Notifications
            
            li(role="presentation")
                a
                    |Messages
                
            li(role="presentation")
                a
                    |Lists
            
            li(role="presentation")
                a
                    |Profile
                               
    body
        div(class="row")
            div(class="col-")
