//output:LandingPage.html, pretty:true
doctype html
html
    head
        link(type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.css")
        link(type="text/css" rel="stylesheet" href="SignUp.css")
        script(type="text/javascript" src="bootstrap/js/jquery.min.js")
        script(type="text/javascript" src="bootstrap/js/bootstrap.min.js")
        script(type="text/javascript" src="SignUp.js")
        meta(charset="UTF-8")
        title Twitter
        


    div
