//output:SignUp.html, pretty:true
doctype html
html
    head
        link(type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.css")
        link(type="text/css" rel="stylesheet" href="SignUp.css")
        script(type="text/javascript" src="bootstrap/js/jquery.min.js")
        script(type="text/javascript" src="bootstrap/js/bootstrap.min.js")
        script(type="text/javascript" src="SignUp.js")
        meta(charset="UTF-8")
        title Twitter
        
    body
        div(id="navbar" class="navbar-collapse collapse")
            h1(class="text-center")
                |Welcome To Twitter
                
        div(class="row")            
            div(class="col-lg-4 col-lg-offset-8 text-center")
                div(class="input-group")
                    h2 Log In
                    input(type="text" name="username-login" class="text-input" placeholder="Username" size="30")
                    br
                    input(type="password" name="password-login" class="text-input" placeholder="Password" size="30")
                    br
                    button(type="submit" name="Login" class="btn btn-default" id="login")
                        |Login
                    
        
        div(class="row")            
            div(class="col-lg-4 col-lg-offset-8 text-center")
                div(class="input-group")
                    h2 Sign Up
                    input(type="text" name="username-signup" class="text-input" placeholder="Username"  size="30")
                    br
                    input(type="email" name="email-signup" class="text-input" placeholder="Email" size="30" pattern="[a-zA-Z0-9._%-]+@[a-zA-Z0-9._%-]+\.[a-zA-Z]{2,4}")
                    br
                    input(type="password" name="password-signup" class="text-input" placeholder="Password" size="30")
                    br
                    input(type="text" name="name-signup" class="text-input" placeholder="Name" size="30")
                    br
                    button(type="submit" name="Submit" class="btn btn-default" id="signup")
                        |Submit
                    
                    div(id="dialogue")
                        p
                            demo
            
