//output:SignUp.html, pretty:true
doctype html
html
    head
        link(type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.css")
        link(type="text/css" rel="stylesheet" href="SignUp.css")
        script(type="text/javascript" src="bootstrap/js/jquery.min.js")
        script(type="text/javascript" src="bootstrap/js/bootstrap.min.js")
        meta(charset="UTF-8")
        title Twitter
        
    body
        h1(class="text-center")
            |Welcome To Twitter
        div(class="row")            
            div(class="col-lg-6 col-lg-offset-3 text-center")
                    h2 Log In
                    |Email: 
                    input(type="text" name="email" )
                    br
                    |Password
                    input(type="password" name="password")
                    
        
        div(class="row")            
            div(class="col-lg-6 col-lg-offset-3 text-center")
                h2 Sign Up
                |Username
                input(type="text" name="username-signup" )
                br
                |Email:
                input(type="text" name="email-signup" )
                br
                |Password
                input(type="password" name="password-signup")
                button(type="submit" name="Submit")
                    |Submit
        
